<div class="container px-5 px-sm-0 mt-5">
    <div class="row">
　　　<div class="p-1 w-auto bg-light text-dark text-center mb-5"><h4>　会員一覧　</h4></div>
    </div>
    <div class="row justify-content-center">
<div class="col-sm-8 text-center">
      
    <table class="table table-inverse">
     <thead class="thead-light">
      <tr>
        <th style="width: 10%">会員ID</th>
        <th style="width: 30%">氏名</th>
        <th style="width: 45%">メールアドレス</th>
        <th style="width: 15%">ステータス</th>
        <th colspan="2"></th>
      </tr>
     </thead>
          
     <tbody>
      <% @customers.each do |customer| %>
        <tr>
       <td>
        <%= customer.id %>
       </td>
       <td>
        <%= link_to admin_customer_path(customer.id) do %>
        <%= customer.last_name %><%= customer.first_name %>
        <% end %>
       </td>
       <td>
        <%= customer.email %>
       </td>
       <td><%= customer.is_active ? '退会済み':'有効' %></td>
 
</tr>
      <% end %>
           </tbody>

        </table>
      </div>
      </div>
      
      </div>