<div class="container px-5 px-sm-0 mt-5">
  <div class="row">
    <div class="w-100 my-3">
    <table>
    <tr>
        <td>
          <div class="d-flex flex-column bd-highlight mr-5">
  <%= image_tag @item.image, size: "300x300", class: "mr-30" %> </div>  </td>
     <td>&nbsp;</td>
  
  
  <td valign="top">
<div class="mx-30">

<h3><strong><%= @item.name %></strong></h3>
<p><%= @item.introduction %></p><br>
<h4><strong>¥<%= @item.price %>円</strong></h4>
</tr>
</table>
</div>
</td>
      </table>
      <div class="col text-center">
        <%= form_with model: @cart_item,url:public_cart_items_path, method: :post do |f| %> 
        <%= f.hidden_field :name, :value => @item.name %>
        <%= f.select :amount, *[1..10] %>
      <%= f.submit '　カートに入れる　', class: "btn btn-success" %>
      <% end %>
      </div>
      </div>
      </div>
      </div>
      
      
    